@{
    ViewData["Title"] = "Home Page";
}

<center>
    <h2>Devices</h2>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("SelectType","Device")'">Create</button>
</center>


<!--To make device stuffs-->

<!--End of To make device stuffs-->