
<center>
    <br /><br />
    <h2>Create</h2>
    <br /><br />
</center>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <a href="@Url.Action("Create","Device", new { deviceType = "aircon"})">
                <img src="~/images/devices/aircon.png" class="airconDevice deviceImg img-responsive" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Create","Device", new { deviceType = "fan"})">
                <img src="~/images/devices/Fan.png" class="fanDevice deviceImg img-responsive" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Create","Device", new { deviceType = "light"})">
                <img src="~/images/devices/lightbulb.png" class="lightDevice deviceImg img-responsive" />
            </a>
        </div>
        <!--
    <div class="col-md-3">
        <a href="@Url.Action("Create", "Device", new { deviceType = "smartdoor"})">
            <img src="~/images/devices/smartDoor.png" class="doorDevice deviceImg img-responsive" />
        </a>
    </div>
        -->
    </div>

    <br />
    <!--
        <center>
    <button type="button" class="btn btn-info" onclick="location.href='@*@Url.Action("Create","Device")*@'">Create</button>
    </center>
    -->



</div>


