@model UsageStatistics.Models.EnergyUsage

@{
    ViewData["Title"] = "Energy Usage";
}

<div class="row">
    <div class="col-md-4">
        <h2>Energy Usage</h2>
    </div>
    <p>Energy Usage: @Model.TotalEnergyUsage("")</p>
</div>
