@model UsageStatistics.Models.ApplicationUsage

@{
    ViewData["Title"] = "Application Usage";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3>Application Usage</h3>
        </div>
    </div>
</div>

