@model UsageStatistics.Models.EnergyAdvise

@{
    ViewData["Title"] = "Energy Advise";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3>Energy Advisor</h3>
            <div class="panel panel-default mt30 mb0">
              <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Energy Consumption</h3>
                        </div>
                        <div class="col-sm-6">
                            <!-- Single button -->
                            <div class="btn-group btn-group-xs pull-right">
                              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Month <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Jan</a></li>
                                <li><a href="#">Feb</a></li>
                                <li><a href="#">March</a></li>
                                <li><a href="#">April</a></li>
                                <li><a href="#">May</a></li>
                                <li><a href="#">Jun</a></li>
                                <li><a href="#">July</a></li>
                                <li><a href="#">Aug</a></li>
                                <li><a href="#">Sept</a></li>
                                <li><a href="#">Oct</a></li>
                                <li><a href="#">Nov</a></li>
                                <li><a href="#">Dec</a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="panel-body">
                <canvas id="trend_1" class="mb30"></canvas>
              </div>
        </div>
    </div>
</div>